@model RecruitmentApplication.Models.TraitCategory

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <form action="#">
        <div class="mdl-card mdl-shadow--4dp demo-card-long">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Trait Category</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <div class="mdl-textfield mdl-js-textfield">
                    @Html.EditorFor(model => model.TraitName, new { htmlAttributes = new { @class = "mdl-textfield__input", @type = "text", @id = "SessionName" } })
                    <label class="mdl-textfield__label" for="SessionName">Trait Name</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    @Html.EditorFor(model => model.TraitDescription, new { htmlAttributes = new { @class = "mdl-textfield__input", @type = "text", @id = "SessionDescription" } })
                    <label class="mdl-textfield__label" for="SessionDescription">Trait Description</label>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" />
                    </div>
                </div>
                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
            
        </div>
    </form>
}

