@{
    ViewBag.Title = "Welcome";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Enter Your Details</h2>
    </div>
    <div class="mdl-card__supporting-text">
        <div class="mdl-textfield mdl-js-textfield">
            @Html.Editor("Email", null, new { htmlAttributes = new { @class = "mdl-textfield__input", @type = "email", @id = "email" } })
            <label class="mdl-textfield__label" for="user">Email</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            @Html.Editor("Password", null, new { htmlAttributes = new { @class = "mdl-textfield__input", @type = "password", @id = "password" } })
            <label class="mdl-textfield__label" for="user">Password</label>
        </div>

    </div>
    <div class="mdl-card__actions mdl-card--border">
        <input type="submit" value="Login" class = "mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect" />
    </div>
</div>

}