@model IEnumerable<RecruitmentApplication.Models.Interview>

@{
    ViewBag.Title = "Leaderboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
        <tr>
            <th>Student Name</th>
            <th>Score</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td data-label="Student Name" class="left">@Html.DisplayFor(modelItem => item.Student.StudentName) @Html.DisplayFor(modelItem => item.Student.StudentSurname)</td>
                <td data-label="Score" class="left">@Html.DisplayFor(modelItem => item.OverallScore)</td>
                <td data-label="Details" class="noline left">
                    @Html.ActionLink("Details", "Details", new { id = item.InterviewID })
                </td>
            </tr>
        }
    </tbody>

</table>
}



